.alert {
	z-index: 2000;
}

.alert-primary {
	border: 1px solid #0d6efd;
}
.alert-success {
	border: 1px solid #198754;
}
.alert-danger {
	border: 1px solid red;
}
.alert-warning {
	border: 1px solid #ffc107;
}
.alert-info {
	border: 1px solid #0dcaf0;
}